:root {
    --advanced-search-main-color: #5A4FED;
}

.advanced-search-container .margin-right-20 {
    margin-right: 20px;
}

.advanced-search-container .margin-right-40 {
    margin-right: 40px;
}

.advanced-search-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.advanced-search-container .max-width-800 {
    max-width: 800px;
}

.advanced-search-container .full-width {
    width: 100%;
}

.advanced-search-container .margin-top-20 {
    margin-top: 20px;
}

.advanced-search-container .margin-top-40 {
    margin-top: 40px;
}

.advanced-search-container .margin-top-60 {
    margin-top: 60px;
}

.advanced-search-container .as-cell {
    margin-top: 20px;
}

.advanced-search-container label {
    display: block;
    font-weight: 400;
    margin-bottom: 0px;
	margin-right: 10px;
}

.advanced-search-container input[type="text"] {
    width: 100%;
    margin-bottom: 0px !important;
}

.advanced-search-container:not(.publications-home-container) input[type="text"] {
    border: none !important;
}

.advanced-search-container .as-group {
    display: flex;
    align-items: center;
}

.advanced-search-container .as-info {
    display: flex;
    width: 30px;
    height: 30px;
    color: white;
    background-color: var(--advanced-search-main-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-style: italic;
    font-family: initial;
    font-size: 28px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                              not supported by any browser */
}

.advanced-search-container .as-group-cell {
    display: flex;
    align-items: center;
}

.advanced-search-container .as-group-cell + .as-group-cell {
    margin-left: 20px;
}

.advanced-search-container .as-group-cell label {
    padding-left: 5px;
}

.advanced-search-container input[type="checkbox"] + label,
.advanced-search-container input[type="radio"] + label {
    cursor: pointer;
}

.advanced-search-container input[type="radio"],
.advanced-search-container input[type="radio"]:checked,
.advanced-search-container input[type="checkbox"] {
    border-width: 1px;
    width: 20px;
    height: 20px;
    min-width: 20px;
}

.advanced-search-container input[type="checkbox"] {
    border-radius: 5px;
}

.advanced-search-container input[type="radio"]::after {
    content: "";
    opacity: 0;
    display: block;
    left: 6px !important;
    top: 3px !important;
    width: 5px !important;
    height: 10px !important;
    position: absolute;
    border: 2px solid white;
    border-top: 0;
    border-top-width: 0px;
    border-left: 0;
    border-left-width: 0px;

    border-color: white;
    transform: rotate(45deg);
    border-radius: 0px !important;
    background-color: inherit !important;
}

.advanced-search-container input:checked {
    background-color: var(--advanced-search-main-color) !important;
}

.advanced-search-container input[type="radio"]::before,
.advanced-search-container input[type="checkbox"]::before {
    content: "";
    border: 1px white solid;
    width: 100%;
    display: block;
    position: absolute;
    height: 100%;
}

.advanced-search-container input[type="checkbox"]::before {
    border-radius: 3px;
}

.advanced-search-container input[type="radio"]::before {
    border-radius: 50%;
}

.advanced-search-container input[type="checkbox"]::after {
    width: 6px;
    height: 11px;
    border-width: 2px;
    border-color: white !important;
    left: 5px;
    transform: rotate(45deg);
}

.advanced-search-container input[type="checkbox"],
.advanced-search-container input[type="radio"],
.advanced-search-container select {
    cursor: pointer;
}

.advanced-search-container button,
.advanced-search-container input,
.advanced-search-container select {
    outline: none !important;
}

.advanced-search-container select {
    border: none;
    padding: 5px 70px 5px 10px;
    font-weight: 300;
}

.advanced-search-container select + select {
    margin-left: 10px;
}

.advanced-search-container .limit_search_to label {
    min-width: 200px;
}

.advanced-search-container .vertical-group > * {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.advanced-search-container .as-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.advanced-search-container .list-item {
    display: inline-block;
    position: relative;
    color: white;
	background-color: var(--advanced-search-main-color);
	padding: 4px 7px 4px 10px;
    margin-top: 10px;
}

.advanced-search-container .list-item + .list-item {
    margin-left: 10px;
}

.advanced-search-container .list-item .list-item-close {
    cursor: pointer;
    margin-left: 5px;
}

.advanced-search-container .list-item .list-item-close:hover {
    font-weight: 700;
    position: relative;
    bottom: 2px;
}

.advanced-search-container .submin-button-container {
    display: flex;
    justify-content: center;
}

.advanced-search-container .submin-button-container button {
    color: #AF44FD !important;
    background-color: inherit !important;
    border-color: #AF44FD;
}

.advanced-search-container .submin-button-container button:hover {
    color: #D7DCEF !important;
    background-color: #AF44FD !important;
    border-color: #AF44FD !important;
}

.advanced-search-container .search_submit {
    background-color: inherit !important;
    border-color: white !important;
    border-width: 2px;
    margin-left: 5px;
	padding: 5px 15px 0px 15px;
    height: 44px;
}

.advanced-search-container .search_submit:hover {
    background-color: inherit !important;
    border-color: white;
}

.advanced-search-container .search_submit i {
    transform: rotate(90deg);
	font-size: 20px;
	color: white !important;
}

.elementor-kit-7 .type_to_search_container a,
.elementor-kit-7 .type_to_search_container a:hover {
	color: white;
	text-decoration: underline;
	display: block;
	margin-top: 5px;
}

/*-- /advanced-search-container --*/

/*-- publications-home-container --*/



@media only screen and (min-width: 992px) {
    .publications-home-container {
        display: flex;
    }

    .publications-home-container .left-side {
        width: 25%;
        margin-right: 40px;
        padding: 20px;
        background-color: white;
        box-shadow: 3px 3px 10px 0px RGBA(226,226,226,0.9);
    }

    .publications-home-container .right-side {
        width: 75%;
    }

}

@media only screen and (max-width: 991px) {
    
    .publications-home-container {
        display: flex;
        flex-direction: column;
    }

    .publications-home-container .left-side {
        width: 100%;
        margin-right: 40px;
        padding: 20px;
        background-color: white;
        box-shadow: 3px 3px 10px 0px RGBA(226,226,226,0.9);
        order: 2;
        margin-top: 70px;
    }

    .publications-home-container .right-side {
        width: 100%;
        order: 1;
    }

}

.publications-home-container .left-side .left-side-block {
        margin-bottom: 20px;
    }



.publications-home-container .right-side form {
	margin-top: 10px;
}

.publications-home-container .cart-style {
    background-color: white;
    box-shadow: 0px 2px 10px 0px #CFCFCF;
    padding: 30px 30px 30px 30px;
}

.publications-home-container .left-side-header {
    font-size: 30px;
    font-weight: 300;
}

.publications-home-container .left-side-header > * {
  font-weight: 300;
  font-size: 24px;
}

.elementor-kit-7 .publications-home-container .right-side > .as-group a {
	color: #A82CFF;
	text-decoration: underline;
}


.publications-home-container select {
	border: 2px solid #DEE1F2;
	color: #838080;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
	font-weight: 400;
}

.publications-home-container .left-side select {
	width: 100%;
}

.publications-home-container input[type="date"],
.publications-home-container input[type="text"] {
	border: 2px solid #DEE1F2;
	padding: 0px 3px;
}

.publications-home-container .left-side label.big-label {
  font-weight: 300;
  font-size: 22px;
}

.publications-home-container .left-side .publish-date-label {
	width: 50px;
}

.publications-home-container .list-item {
  background-color: #9B37F6;
  padding: 0px 7px 0px 5px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.publications-home-container .list-item .list-item-close {
    margin-left: 10px;
}



.publications-home-container .left-side-row {
	margin-top: 20px;
}

.publications-home-container input[type="radio"],
.publications-home-container input[type="radio"]:checked,
.publications-home-container input[type="checkbox"] {
    width: 14px;
    height: 15px;
    min-width: 15px;
}

.publications-home-container input:checked {
    background-color: #9B37F6 !important;
}

.publications-home-container input[type="radio"]::before,
.publications-home-container input[type="checkbox"]::before {
    border: 2px solid white;
}

.publications-home-container input[type="radio"]::after {
	display: none;
}

.publications-home-container button:not(:hover):not(:active):not(.has-background).submit-button,
.elementor-kit-7 .publications-home-container button.submit-button:hover {
	border: 2px #9B37F6 solid;
	padding: 5px 15px;
	font-size: 18px;
}

.publications-home-container button:not(:hover):not(:active):not(.has-background).submit-button {
	background-color: white;
	color: #9B37F6;
}

.elementor-kit-7 .publications-home-container button.submit-button:hover {
	background-color: #9B37F6;
	color: white;
}

.advanced-search-container label.publish-date-label {
	font-weight: 300;
	font-size: 14px;
}

.as-container-paginate {
	text-align: center;
}

.as-container-paginate .page-numbers:not(.next):not(.prev) {
	border: 2px #A82CFF solid;
	padding: 12px;
	color: #A82CFF;
	margin-left: 1px;
	margin-right: 1px;
}

.as-container-paginate .page-numbers:not(.next):not(.prev):hover,
.as-container-paginate .page-numbers:not(.next):not(.prev).current {
	background-color: #A82CFF;
	color: white;
}

/*-- /publications-home-container --*/

.as-post-card {
	padding: 20px 0px;
}

@media only screen and (min-width: 662px) {
    .as-post-card  {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}
@media only screen and (max-width: 661px) {
    .as-post-card  {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 4fr;
    }
    .as-post-card-image {
        margin: 15px;
    }
}

.as-post-card .as-post-card-header {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
	margin-left: 20px;
}

.as-post-card .as-post-card-image {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.as-post-card .as-post-card-body {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
	margin-left: 20px;
}


.as-post-card .as-post-card-image img {
	height: 200px !important;
	object-fit: cover;
}

.as-space-between {
	justify-content: space-between;
}

.as-text-align-center {
  text-align: center;
}

.gray-color {
	color: #7d7d7d;
}

.search-results-for {
  	padding-bottom: 20px;
}

.search-results-for-label {
  	font-size: 13px;
  	font-weight: 300;
	margin-right: 10px;
}

.search-results-for-body {
  	font-size: 13px;
  	font-weight: 400;
}


/*--- popup ---*/

.elementor-widget-tabs.elibrary-popup .elementor-tab-desktop-title {
	padding-left: 15px;
	padding-right: 15px;
	border: none;
}

.elementor-widget-tabs.elibrary-popup .elementor-tab-desktop-title.elementor-active::after,
.elementor-widget-tabs.elibrary-popup .elementor-tab-desktop-title.elementor-active::before {
	content: none;
}

.elementor-widget-tabs.elibrary-popup .elementor-tab-desktop-title a:after {
	content: '';
	position: absolute;
	background-color: #797676;
	width: auto !important;
	height: 4px !important;
	left: 15px !important;
	right: 15px !important;
	bottom: 10px !important;
}

.elementor-widget-tabs.elibrary-popup .elementor-tab-desktop-title.elementor-active a:after {
	background-color: #9B37F6;
}

.elementor-widget-tabs.elibrary-popup .elementor-tabs-content-wrapper .elementor-tab-content {
	min-height: 200px;
	padding-left: 15px;
	border: none;
}

/*--- /popup ---*/


#advanced-search .select2-container .select2-selection--single {
    height: 45px;
}
#advanced-search .select2-container--flat .select2-selection--multiple {
    background-color: #fff;
    height:45px;
}
#advanced-search .select2-container {
    width: 100% !important;
}
#advanced-search input[type=date] {
    border: none !important;
}
#advanced-search .select2 button {
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
}
#advanced-search .select2 button:focus, #advanced-search .select2 button:hover {
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
    color: black;
}



/* --- tooltip --- */
.tooltip {
    position: relative;
    display: inline-block;
} 
.tooltip .tooltiptext {
    visibility: hidden;
    width: 650px;
    max-width: 90%;
    background-color: black;
    color: #fff;
    text-align: center;
    /* border-radius: 6px; */
    padding: 20px 10px;
  
    /* Position the tooltip */
    position: absolute;
    right:40px; 
    top:10px; 
    z-index: 1;
}
.tooltip-visible:hover .tooltiptext {
    visibility: visible;
}

.mc-date--active td {
    border: 0px;
}

.mc-date .mc-btn {
    background: #f5f5f6;
    border: 0px;
}

.mc-date  .mc-btn--danger {
    color: blueviolet;
}
.mc-date table td {
    border: 0px solid;
}
    
