/* Full-width inputs */
 input.form-inst[type=text], input.form-inst[type=password] {
  background-color: #f7f1fd !important;
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid rgb(238, 204, 233) !important;
  box-sizing: border-box;
}

.input-form-inst{
  border: 1px solid white !important;
  background-color: #f7f1fd !important;
  font-size: 1.2em !important;
}
.input-form-inst:hover {
  border-bottom: 1px solid #063b59 !important;
  outline:none !important;
}
.input-form-inst:focus {
  border-bottom: 1px solid #063b59 !important;
  outline:none !important;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.tile-form-inst {
  text-align: center;
  font-weight: 700 !important;
  color: #35758e;
}
.tile-form-inst:hover {
  text-align: center;
  font-weight: 700 !important;
  color: #5e5eed;
}

/* Add padding to containers */
.form-inst-container {
  padding: 20px;
}

/* The "Forgot password" text */
span.form-inst  {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* The Modal (background) */
.form-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    z-index: 999999;
    top: 110px;
  }
  
  /* Modal Content/Box */
  .form-modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    /* border: 1px solid #888; */
    width: 500px;
    max-width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0px 3px 10px 0px #535769;
  }

  .form-inst-button {
    margin-top: 20px; 
    background-color: #5e5eed !important; 
    border: 0px !important;
  }
  .form-inst-button:hover {
    margin-top: 20px; 
    background-color: #063b59 !important; 
    border: 0px !important;
  }
  
  /* The Close Button */
  .form-close {
    /* Position it in the top right corner outside of the modal */
    float: right;
    padding-right: 25px;
    right: 25px;
    top: 0;
    color: #5e5eed !important;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .form-close:hover,
  .form-close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .form-animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }