.select-search {
    border: none !important;
    padding: 5px 70px 5px 10px !important;
    font-weight: 300;
    width: 100%;
}


.btn.btn-outline-primary, .btn.btn-outline-primary:focus:after{
    color: #766DEF !important;
    border-color: #766DEF !important;
    border-radius: 0px !important;
    border-width: 2px;
    font-weight: 700;
    padding: 12px 25px 12px 25px;
    background-color: var(--elib-main-color) !important;
}
.btn.btn-outline-primary:active {
  border-radius: 0px !important;
}
.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus  {
    background-color: #766DEF !important;
    color: #030214 !important;
    border-color: #766DEF;
}

.btn.btn-primary {
    background-color: var(--elib-main-color);
    border: none;
    min-width: 100px;
}

.btn.btn-primary-blue {
  background-color:  #5a4fed !important;
  border: none;
  min-width: 100px;
}

/* Style the Image Used to Trigger the Modal */
.img-preview {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-preview:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
  */
  background-color: var(--elib-main-color); 

}
  
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  /* width: 40%; */
  height: 100% !important;
  width: auto;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.form-input {
  width: 100%;
  border: 1px solid #ccc !important;
  padding: 20px !important;
  margin-right: 25px;
  box-sizing: border-box;
  font-size: 16px;
}

.modal-header button:not(:hover):not(:active):not(.has-background) {
  color: black;
  background: transparent;
}
.modal-header .nav-tabs>li.active>a:focus, 
.modal-header .nav-tabs>li.active>a:hover,
.modal-header .nav-tabs>li>a, 
.modal-header .nav-tabs>li>a:focus, 
.modal-header .nav-tabs>li>a:hover
 {
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
  background: transparent;
  /* border-bottom: 4px solid #7d7d7d; */
  color: #7d7d7d;
}
.modal-header .nav-tabs>li.active>a {
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;
  background: transparent;
  border-bottom: 4px solid #5a4fed !important;
  color: #5a4fed !important;
}
.modal-header .nav-tabs, .modal-header .nav-tabs:focus {
  border-bottom: 0px solid #fff; 
  background: transparent;
}
.modal-content {
  border-radius: 0px !important;
}

.simple-search-container .max-width-800 {
  max-width: 800px;
}



.simple-search-container .search-section {
  background-color: var( --e-global-color-accent );
  width: 100%;
}

@media only screen and (min-width: 992px) {
  
  .simple-search-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    justify-content: center; 
  }

  .simple-search-container .elementor-col-33 {
    width: 33.333%;
  }
  .simple-search-container .elementor-col-50 {
    width: 50%;
  }
  .simple-search-container .elementor-col-100 {
    width: 100%;
  }

}
@media only screen and (max-width: 991px) {
  .simple-search-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    justify-content: center; 
  }
}

@media only screen and (max-width: 661px) {
  .jaes-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .adapt-btn-jaes{
    display: flex;
  }

}
@media only screen and (min-width: 662px) {
  .jaes-group {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}


.simple-search-container .block-populated-journal {
  box-shadow: 3px 3px 6px 2px rgb(0 0 0 / 15%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px;
  padding: 25px;
  background: #fff;
  font-size: 1.1em;
}


.simple-search-container .block-populated {
  box-shadow: 0px 2px 10px 0px #cfcfcf;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px;
  padding: 25px;
  background: #fff;
  font-size: 1.1em;
}


.simple-search-container .block-img {
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal_img_preview > span {
  color: #fcfcfc!important;
  font-size: 40px;
  width: 30px;
  right: 1%;
  top: 150px;
  position: fixed;
}


.entry-content .woocommerce {
  max-width: var(--responsive--alignwide-width);
  margin: 0 auto;
}


/* Solid border */
hr.solid {
  border-bottom: 5px solid #5a4fed !important;
  width: 150px;
  margin: auto !important;
}

.panel-title a:hover {
  text-decoration: none !important;
}
.panel-title a:focus {
  text-decoration: none !important;
}
.panel-default {
  border: 0px !important;
}
.panel-default {
  border-color: none !important;
  border-radius: 0px !important;
}
.panel-body {
  padding: 35px !important;
}

